.app-container {
  padding: 12px;
}

h1 {
  font-family: monospace;
}

.input-container input {
  margin-right: 12px;
  margin-bottom: 12px;
}

.input-container button {
  cursor: pointer;
}

.time-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.invalid {
  color: red;
}
